<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
				http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 数组或集合数据的注入 -->
	<bean id="bean5" class="spring.day1.spring_05DI.Bean5">
		<!-- 注入数组 -->
		<property name="strs">
			<array><!-- 数组除了长度固定以外，其他和List一样 -->
				<value>aa</value>
				<value>bb</value>
				<value>cc</value>
			</array>
		</property>
		<property name="set">
			<set>
				<value>aaa</value>
				<value>bbb</value>
				<value>ccc</value>
			</set>
		</property>
		<property name="list">
			<list>
				<value>aaaa</value>
				<value>bbbb</value>
				<value>cccc</value>
			</list>
		</property>
		<property name="map">
			<map>
				<entry key="a" value="aaaaa"></entry>
				<entry key="b" value="bbbbb"></entry>
				<entry key="c" value="ccccc"></entry>
			</map>
		</property>
		<property name="props">
			<props>
				<prop key="a">aaaaaa</prop>
				<prop key="b">bbbbbb</prop>
				<prop key="c">cccccc</prop>
			</props>
		</property>
	</bean>
				
	<bean id="bean1" class="spring.day1.spring_05DI.Bean1">
		<!-- 构造器注入参数:
			默认情况下：constructor-arg出现的顺序和构造方法的参数顺序保持一致
		 	index:指定参数的索引位置
		 	type:对应参数的类型
		 -->
		<constructor-arg index="1" type="int" value="18"></constructor-arg>
		<constructor-arg index="0" type="java.lang.String" value="陈涔"></constructor-arg>
	</bean>
	<bean id="bean2" class="spring.day1.spring_05DI.Bean2">
		<!-- setter属性注入：
				value：注入一般的值
				ref：注入spring管理的其他对象。引用值
		 -->
		<property name="name" value="杜巍锋"></property>
		<property name="age" value="28"></property>
	</bean>
	<!-- 使用p名称空间 
		p:属性名称:指定普通值
		p:属性名称-ref：指定spring管理的引用值
	-->
	<bean id="now" class="java.util.Date" scope="prototype"></bean>
	<bean id="bean3" class="spring.day1.spring_05DI.Bean3"
			p:birthday-ref="now" p:name="巍锋杜" p:age="38"/>
	<!-- SpEL:设定值 -->
	<bean id="bean4" class="spring.day1.spring_05DI.Bean4">
		<!-- SpEL:统一使用value指定，要写在井{SpEL} -->
		<property name="name" value="单斌"></property>
		<property name="age" value="19"></property>
		<property name="birthday" value="#{now}"></property>
	</bean>
</beans>
