<?xml version="1.0" encoding="UTF-8"?>
<!-- 引入约束文档：xsd
spring-framework-3.2.0.RELEASE\docs\spring-framework-reference\html\xsd-config.html 有示例
 -->
<!-- 
beans:根元素
	xmlns：声明名称空间的关键字
		xmlns:xsi 声明名称空间xsi
		xmlns：声明默认名称空间
	xsi:schemaLocation:用于指定名称空间和xsd文件的对应关系，两者用空格分开
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
				http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 定义一个bean 
		id:给对象取了一个名字
		class：要实例化的对象的类全名
	-->
	<bean id="userService" class="spring.day1.spring_01IoC.UserServiceImpl">
		<!-- 注入：通过属性进行注入
			name:指定setter属性名称
			ref:引用spring管理的对象
			
			调用UserServiceImpl.setUserDao(userDao);
		 -->
		<property name="userDao" ref="userDao">
		</property>
	</bean>

	<bean id="userDao" class="spring.day1.spring_01IoC.UserDaoImpl">

	</bean>
</beans>
