<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///day34_1</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">sorry</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.max_fetch_depth">1</property>
		<property name="hibernate.connection.isolation">4</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- 开启二级缓存 -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<!-- 指定二级缓存提供商 -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<!-- 开启查询缓存区 -->
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<mapping resource="cn/itcast/domain/Customer.hbm.xml"/>
		<mapping resource="cn/itcast/domain/Order.hbm.xml"/>
		<!-- 指定要二级缓存缓存的内容:配置类缓存区class-cache -->
		<class-cache usage="read-write" class="cn.itcast.domain.Customer"/>
		<class-cache usage="read-write" class="cn.itcast.domain.Order"/>
		<!-- 配置集合缓存区 -->
		<collection-cache usage="read-write" collection="cn.itcast.domain.Customer.orders"/>
	</session-factory>
</hibernate-configuration>