<?xml version="1.0" encoding="UTF-8"?><!-- 引入dtd：
dtd的位置：hibernate3.jar\org\hibernate\hibernate-configuration-3.0.dtd
 --><!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!-- sessionfactory配置:参数配置
        参数：从hibernate-distribution-3.6.10.Final（资源包）\project\etc\hibernate.properties
     -->
    <session-factory>
        <!-- 数据库基本的配置 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///day33_3</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">sorry</property>
        <!-- 配置数据库的方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 控制迫切左外连接的检索深度 -->
        <property name="hibernate.max_fetch_depth">1</property>
        <!-- 显示sql语句 -->
        <property name="hibernate.show_sql">true</property>
        <!-- 格式化显示出来的sql语句:符合阅读习惯-->
        <property name="hibernate.format_sql">false</property>
        <!-- hbm2ddl：根据映射自动生成DDL
            取值：
                create-drop：没有表就创建；下次运行把所有表删除。
                create：没有表就创建；
                update：更新表结构；
                validate：验证映射和目前的表结构是否一致
         -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- 指定要管理的映射文件 -->
        <mapping resource="zsy/hibernate/day34/domain/Customer.hbm.xml" />
        <mapping resource="zsy/hibernate/day34/domain/Order.hbm.xml" />
    </session-factory>
</hibernate-configuration>