<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 1、分类管理sql  2、其他  开发dao -->
<mapper namespace="cn.itcast.mybatis.mapper.UserMapper">

	<!-- 1、根据ID查询用户信息 -->
	<resultMap type="user" id="fieldIntoUser">
		<result column="name" property="username"/>
		<result column="addr" property="address"/>
	</resultMap>
	<select id="queryUserById" parameterType="int" resultMap="fieldIntoUser">
		select id,username name,address addr,sex,birthday from user where id = #{id}
	</select>
	
	<!-- 、根据username查询用户信息  -->
	<!-- 
		传递包装类型的pojo  {}的名称：通过ognl表达式的方式获取值   xxx.xxx.xxx...
	 -->
	<select id="queryUserByUserName" parameterType="userQueryVo" resultType="userCustom">
		select * from user where username like '%${userCustom.username}%'
	</select>
	
	<select id="queryUserByMap" parameterType="userQueryVo" resultType="userCustom">
		select * from user where id = #{map.user_id}
	</select>
	
	<select id="queryUsers" resultType="int">
		select count(1) from user
	</select>
	
	<sql id="query_where_user">
		<if test="userCustom!=null">
			<if test="userCustom.username!=null and userCustom.username!=''">
				and username like '%${userCustom.username}%'
			</if>
		</if>
	</sql>
	<select id="queryUserByConditions" parameterType="userQueryVo" resultType="userCustom">
		select * from user
		<where>
			<include refid="query_where_user"/>
		</where>
	</select>
	
	
	<select id="queryUserByList" parameterType="userQueryVo" resultType="userCustom">
		select * from user
		<where>
			<if test="ids!=null and ids.size()>0">
				<foreach collection="ids" item="id" open="id in(" separator="," close=")">
					#{id}
				</foreach>
			</if>
		</where>
	</select>
	
</mapper>