<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
				http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- init-method:指定一个方法名称，会在初始化时执行
         destroy-method:指定一个方法名称，在容器销毁时执行
     -->
    <bean id="userDao" scope="prototype" class="com.spring.day1.spring_04lifecycle.UserDaoImpl"
        init-method="init" destroy-method="destroy" />
</beans>
