body {background-color:#b0c4de;}
span{color:green;font-size:80px}
p{color:green;font-size:90px}
h1 {color:#00ff00;letter-spacing:10px;}
h2 {color:rgb(255,0,0);font-weight:bold;}
p.uppercase {text-transform:uppercase;}