<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
				http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 静态工厂获取 :
        class:指定静态工厂类名
        factory-method:静态方法
    -->
    <bean id="userDao1" class="spring.day1.spring_02init.StaticObjectFactory"
        factory-method="genUserDaoInstance"></bean>

    <!-- 实例工厂创建对象： -->
    <!-- 1、实例化工厂 -->
    <bean id="instanceObjectFactory" class="spring.day1.spring_02init.InstanceObjectFactory"></bean>
    <!-- 2、指定工厂和实例方法 -->
    <bean id="userDao2" factory-bean="instanceObjectFactory"
        factory-method="genUserDaoInstance"></bean>

</beans>
