<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
				http://www.springframework.org/schema/beans 
				http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 静态工厂获取 :
        class:指定静态工厂类名
        factory-method:静态方法
    -->
    <bean id="user1" scope="prototype" class="cn.day1.spring_02init.StaticFactory"
        factory-method="genUserInstance"></bean>

    <!-- 实例工厂创建对象： -->
    <!-- 1、实例化工厂 -->
    <bean id="instanceFactory"  class="cn.day1.spring_02init.InstanceFactory"></bean>
    <!-- 2、指定工厂和实例方法 scope="prototype" -->
    <bean id="user2" factory-bean="instanceFactory" factory-method="genUserInstance"></bean>
</beans>
